.GirlSnowboarder {
    background-image: url('project://database/Assets/_tapski/Graphics/Characters/girl_snowboarder_straight.png?fileID=-1147185972&guid=cf6034806f4b94568ae4531154d63e4c&type=3#girl_snowboarder_straight_0');
}

.Santa {
    background-image: url('project://database/Assets/_tapski/Graphics/Characters/santa_straight.png?fileID=-374624428&guid=51809a99bc8a446faac59c0dc26beaab&type=3#santa_straight_0');
}

.DogSled {
    background-image: url('project://database/Assets/_tapski/Graphics/tapski-atlas.png?fileID=-865258777&guid=f44b9c29f5876474fb05a508c1839a9c&type=3#doggo_straight_0');
}

.Yeti {
    background-image: url('project://database/Assets/_tapski/Graphics/Characters/yeti_straight.png?fileID=-689755782&guid=26fda200f8fdf43f1999f8ad4925d3c0&type=3#yeti_straight_0');
}

.BoySkier {
    background-image: url('project://database/Assets/_tapski/Graphics/tapski-atlas.png?fileID=1090987264&guid=f44b9c29f5876474fb05a508c1839a9c&type=3#boy_skier_straight_0');
}

.Fro {
    background-image: url('project://database/Assets/_tapski/Graphics/tapski-atlas.png?fileID=799349619&guid=f44b9c29f5876474fb05a508c1839a9c&type=3#fro_straight_0');
}

.Elf {
    background-image: url('project://database/Assets/_tapski/Graphics/tapski-atlas.png?fileID=-886436564&guid=f44b9c29f5876474fb05a508c1839a9c&type=3#elf_straight_0');
}

.Zombie {
    background-image: url('project://database/Assets/_tapski/Graphics/Characters/zombie_straight.png?fileID=-187031193&guid=c9e653e87636941a098de9db804a24a3&type=3#zombie_straight_0');
}

.Penguin {
    background-image: url('project://database/Assets/_tapski/Graphics/Characters/penguin_straight.png?fileID=-1958667326&guid=4d830d0448c964fe9a5396b8cc544a30&type=3#penguin_straight_0');
}

.Ninja {
    background-image: url('project://database/Assets/_tapski/Graphics/Characters/ninja_straight.png?fileID=498736692&guid=41f8a68b6dbcd4be08d3a1c00f1a2a17&type=3#ninja_straight_0');
}

.GirlSkier {
    background-image: url('project://database/Assets/_tapski/Graphics/Characters/girl_skier_straight.png?fileID=-334127812&guid=8088da99c2cec42998a63d71f2b50f22&type=3#girl_skier_straight_0');
}

.MountainMan {
    background-image: url('project://database/Assets/_tapski/Graphics/Characters/mountain_man_straight.png?fileID=-1897688579&guid=71f5425fcf4984ef2aeffdeb7d29e7c8&type=3#mountain_man_straight_0');
}

.Extremo {
    background-image: url('project://database/Assets/_tapski/Graphics/tapski-atlas.png?fileID=-1992131279&guid=f44b9c29f5876474fb05a508c1839a9c&type=3#extremo_straight_0');
}

.Extremette {
    background-image: url('project://database/Assets/_tapski/Graphics/tapski-atlas.png?fileID=-1387401676&guid=f44b9c29f5876474fb05a508c1839a9c&type=3#extremette_straight_0');
}

.BoySnowboarder {
    background-image: url('project://database/Assets/_tapski/Graphics/tapski-atlas.png?fileID=-1170241691&guid=f44b9c29f5876474fb05a508c1839a9c&type=3#boy_snowboarder_straight_0');
}
