.btn-index {
    -unity-background-scale-mode: scale-to-fit;
    border-width: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 33px;
    height: 50px;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.btn-previous {
    background-image: url('project://database/Assets/_tapski/Graphics/tapski-atlas.png?fileID=1635928956&guid=f44b9c29f5876474fb05a508c1839a9c&type=3#btn_left_neutral');
}

.btn-previous:active {
    background-image: url('project://database/Assets/_tapski/Graphics/tapski-atlas.png?fileID=-617584105&guid=f44b9c29f5876474fb05a508c1839a9c&type=3#btn_left_pressed');
}

.btn-next {
    background-image: url('project://database/Assets/_tapski/Graphics/tapski-atlas.png?fileID=1972108140&guid=f44b9c29f5876474fb05a508c1839a9c&type=3#btn_right_neutral');
}

.btn-next:active {
    background-image: url('project://database/Assets/_tapski/Graphics/tapski-atlas.png?fileID=-30175782&guid=f44b9c29f5876474fb05a508c1839a9c&type=3#btn_right_pressed');
}

.btn-start {
    background-image: url('project://database/Assets/_tapski/Graphics/tapski-atlas.png?fileID=-1312682326&guid=f44b9c29f5876474fb05a508c1839a9c&type=3#btn_go_neutral');
    -unity-background-scale-mode: scale-to-fit;
}

.btn-start:active {
    background-image: url('project://database/Assets/_tapski/Graphics/tapski-atlas.png?fileID=176980550&guid=f44b9c29f5876474fb05a508c1839a9c&type=3#btn_go_pressed');
}

.btn-back {
    background-image: url('project://database/Assets/_tapski/Graphics/tapski-atlas.png?fileID=71806621&guid=f44b9c29f5876474fb05a508c1839a9c&type=3#btn_back_neutral');
}

.btn-back:active {
    background-image: url('project://database/Assets/_tapski/Graphics/tapski-atlas.png?fileID=-1882238187&guid=f44b9c29f5876474fb05a508c1839a9c&type=3#btn_back_pressed');
}
