.btn-large {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.audio-False {
    background-image: url('project://database/Assets/_tapski/Graphics/tapski-atlas.png?fileID=-377645225&guid=f44b9c29f5876474fb05a508c1839a9c&type=3#btn_sound_off');
}

#btn-scoreboard {
    background-image: url('project://database/Assets/_tapski/Graphics/tapski-atlas.png?fileID=-813081115&guid=f44b9c29f5876474fb05a508c1839a9c&type=3#btn_highscores_neutral');
}

#btn-scoreboard:active {
    background-image: url('project://database/Assets/_tapski/Graphics/tapski-atlas.png?fileID=-1499523602&guid=f44b9c29f5876474fb05a508c1839a9c&type=3#btn_highscores_pressed');
}

#btn-play {
    background-image: url('project://database/Assets/_tapski/Graphics/tapski-atlas.png?fileID=-2004876131&guid=f44b9c29f5876474fb05a508c1839a9c&type=3#btn_play_neutral');
}

#btn-play:active {
    background-image: url('project://database/Assets/_tapski/Graphics/tapski-atlas.png?fileID=334773920&guid=f44b9c29f5876474fb05a508c1839a9c&type=3#btn_play_pressed');
}

.audio-True {
    background-image: url('project://database/Assets/_tapski/Graphics/tapski-atlas.png?fileID=-554321971&guid=f44b9c29f5876474fb05a508c1839a9c&type=3#btn_sound_on');
}
